@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap");
:root {
  --bg-main: #e1e8f0;
  --bg-btn: #8571ee;
  --bg-btn-secondary: #31338a;
  --font-family: sans-serif;
  --font-family-main: "Quicksand", sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

img {
  width: 100%;
  height: 100%;
}

p {
  font-size: 15px;
}

.background, .hero-container .main-reviews .review-content .container, .hero-container .main-visit_container, .hero-container .banner-container {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.flex, .hero-container .main-card .card-head figure, .hero-container .main-reviews .header-review, .hero-container .main-forecast_content .card-temperature, .hero-container .main-forecast_content .card-day, .hero-container .banner-description .weather,
.hero-container .banner-description .temperature, .hero-container .banner-head h2, .hero-logo {
  display: flex;
  align-items: center;
}

.border, .hero-container .main-card .card-head figure, .hero-container .main-card .card-container, .hero-container .main .cards .add-card button, .hero-container .main .cards .add-card, .hero-container .main-reviews .review-content .container_dos button, .hero-container .main-reviews .review-content .container, .hero-container .main-visit_container, .hero-container .main-forecast_content .card-temperature, .hero-container .main-forecast_content .card, .hero-container .banner-head, .hero-container .banner-container, .hero-container {
  border-radius: 20px;
}

i {
  font-size: 30px;
}

/**/
.hero {
  font-family: var(--font-family-main);
  padding: 20px;
  background-color: var(--bg-main);
  height: 100%;
}
@media screen and (max-width: 500px) {
  .hero {
    padding: 5px;
  }
}
.hero-logo {
  justify-content: flex-end;
  margin: auto;
  margin-right: 10px;
  margin-bottom: 20px;
  width: 50px;
}
.hero-logo img {
  width: 100%;
}
.hero-container {
  padding: 40px;
  margin: 20px 50px;
  background-color: #fff;
}
@media screen and (max-width: 500px) {
  .hero-container {
    padding: 5px;
    margin: 0;
  }
}
.hero-container .banner {
  margin: 10px auto;
  position: relative;
  height: 250px;
  background-color: #fff;
}
.hero-container .banner-container {
  background-image: url("../src/images/cover-bogota.png");
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  opacity: 0.3;
}
.hero-container .banner-head {
  padding: 4em;
  background-color: rgba(0, 0, 0, 0.9);
  height: 100%;
}
.hero-container .banner-head h2 {
  color: var(--bg-btn);
  font-family: "Segoe UI", "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 20px;
  z-index: 2;
}
.hero-container .banner-head h2 img {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}
.hero-container .banner-description {
  position: absolute;
  top: 30%;
  left: -40px;
}
@media screen and (max-width: 500px) {
  .hero-container .banner-description {
    top: 45%;
    left: 0;
  }
}
.hero-container .banner-description .weather,
.hero-container .banner-description .temperature {
  border-radius: 0 10px 10px 0;
  justify-content: center;
  width: 80px;
  height: 60px;
  color: #fff;
}
.hero-container .banner-description .weather .temperature p,
.hero-container .banner-description .temperature .temperature p {
  font-size: 25px;
}
.hero-container .banner-description .weather .temperature p small,
.hero-container .banner-description .temperature .temperature p small {
  margin-left: -5px;
  margin-top: 3px;
}
.hero-container .banner-description .weather i,
.hero-container .banner-description .temperature i {
  font-size: 20px;
}
.hero-container .banner-description .weather small,
.hero-container .banner-description .temperature small {
  vertical-align: super;
  font-size: 12px;
}
.hero-container .banner-description .temperature {
  background-color: var(--bg-btn-secondary);
  position: absolute;
  top: 50px;
  z-index: 1;
}
.hero-container .banner-description .weather {
  position: absolute;
  background-color: var(--bg-btn);
  flex-direction: column;
  flex-grow: 1;
  z-index: 4;
}
.hero-container .banner-description .weather img {
  width: 30px;
  height: 30px;
}
.hero-container .main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
  grid-template-columns: 3fr 1fr;
  margin: 40px 0;
}
@media screen and (max-width: 768px) {
  .hero-container .main {
    grid-template-columns: 1fr;
  }
}
.hero-container .main-information {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
  justify-items: center;
}
.hero-container .main h2 {
  font-weight: 400;
}
.hero-container .main h2 span {
  font-weight: 600;
}
.hero-container .main-forecast h2, .hero-container .main-visit h2, .hero-container .main-reviews h2 {
  margin-bottom: 30px;
}
@media screen and (max-width: 900px) {
  .hero-container .main-forecast h2, .hero-container .main-visit h2, .hero-container .main-reviews h2 {
    margin-bottom: 10px;
  }
}
.hero-container .main-forecast_content {
  margin: 10px;
}
.hero-container .main-forecast_content .card {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
  grid-template-columns: 3fr 2fr;
  border: 1px solid #d4d4d4;
  box-shadow: 5px 4px 8px #8a8a8a;
  margin-top: 10px;
}
.hero-container .main-forecast_content .card-day {
  padding: 10px;
  justify-content: space-evenly;
}
.hero-container .main-forecast_content .card-day img {
  width: 50px;
  height: 50px;
}
.hero-container .main-forecast_content .card-day h6 {
  font-size: 15px;
}
.hero-container .main-forecast_content .card-temperature {
  background-color: var(--bg-btn);
  width: 95px;
  height: 80px;
  justify-self: end;
  justify-content: center;
  margin-right: -1px;
  margin-bottom: -1px;
}
.hero-container .main-forecast_content .card-temperature .temperature p {
  font-size: 25px;
}
.hero-container .main-forecast_content .card-temperature .temperature p small {
  margin-left: -5px;
  margin-top: 3px;
}
.hero-container .main-forecast_content .card-temperature p {
  color: #fff;
  font-size: 15px;
}
.hero-container .main-visit {
  width: 200px;
  height: 200px;
}
@media (max-width: 900px) {
  .hero-container .main-visit {
    height: 70%;
  }
}
.hero-container .main-visit_container {
  background-image: url("../src/images/cover-visit.png");
  height: 100%;
  width: 100%;
  padding: 20px;
  margin: 10px;
}
.hero-container .main-visit_container h4 {
  font-size: 15px;
  color: #fff;
}
.hero-container .main-visit_container h4 img {
  width: 20px;
  height: 20px;
}
.hero-container .main-reviews {
  width: 100%;
  height: 100%;
}
.hero-container .main-reviews .header-review {
  justify-content: space-around;
}
.hero-container .main-reviews .header-review_avatars figure {
  display: inline-block;
  width: 28px;
}
.hero-container .main-reviews .header-review_avatars figure img {
  border-radius: 10px;
}
.hero-container .main-reviews .header-review_avatars figure .more {
  background-color: var(--bg-main);
  padding: 8px;
}
.hero-container .main-reviews .review-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(1fr, 1fr));
  gap: 10px;
  grid-template-rows: 1fr 2fr;
}
.hero-container .main-reviews .review-content:first-of-type:not(h4) {
  margin-top: 20px;
}
.hero-container .main-reviews .review-content .container {
  margin: 10px;
  padding: 20px;
  min-height: 50px;
}
.hero-container .main-reviews .review-content .container h4 {
  color: #fff;
}
.hero-container .main-reviews .review-content .container img {
  width: 20px;
}
.hero-container .main-reviews .review-content .container_uno {
  background-image: url("../src/images/cover-review_1.png");
}
.hero-container .main-reviews .review-content .container_dos {
  position: relative;
  background-image: url("../src/images/cover-review_2.png");
}
.hero-container .main-reviews .review-content .container_dos button {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 50px;
  background-color: var(--bg-btn);
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  outline: none;
  border: none;
}
.hero-container .main .cards {
  z-index: 4;
}
.hero-container .main .cards .add-card {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(1fr, 1fr));
  gap: 10px;
  justify-items: center;
  border: 2px dashed var(--bg-main);
  padding: 20px;
}
.hero-container .main .cards .add-card button {
  display: block;
  padding: 10px 20px;
  text-align: center;
  outline: none;
  border: none;
  width: 100%;
  cursor: pointer;
  font-size: 12px;
  color: var(--bg-btn);
  font-weight: bold;
}
.hero-container .main .cards .add-card img {
  width: 200px;
  margin: 0 auto;
}
.hero-container .main-card {
  margin-top: -40%;
}
@media screen and (max-width: 768px) {
  .hero-container .main-card {
    margin-top: 0;
  }
}
.hero-container .main-card .card-container {
  width: 280px;
  box-shadow: 5px 4px 8px #8a8a8a;
  text-align: center;
  margin: 20px auto;
  background-color: #fff;
}
.hero-container .main-card .card-head, .hero-container .main-card .card-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  gap: 10px;
  align-items: center;
  justify-items: center;
  justify-self: center;
}
.hero-container .main-card .card-head .temp small, .hero-container .main-card .card-content .temp small {
  font-size: 12px;
  vertical-align: super;
}
.hero-container .main-card .card-head p:not(.temp), .hero-container .main-card .card-content p:not(.temp) {
  font-size: 12px;
}
.hero-container .main-card .card-head p:not(.temp) small, .hero-container .main-card .card-content p:not(.temp) small {
  font-size: 10px;
}
.hero-container .main-card .card-head p:not(.temp) .country, .hero-container .main-card .card-content p:not(.temp) .country {
  display: block;
}
.hero-container .main-card .card-head figure {
  justify-content: center;
  background-color: var(--bg-main);
  width: 80px;
  height: 80px;
  color: #7d67f0;
}
.hero-container .main-card .card-head figure i {
  font-size: 30px;
}
.hero-container .main-card .card-head .temperature p {
  font-size: 25px;
}
.hero-container .main-card .card-head .temperature p small {
  margin-left: -5px;
  margin-top: 3px;
}
.hero-container .main-card .card-content {
  padding: 10px;
}

/*# sourceMappingURL=style.css.map */
