@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap');

:root {
  --bg-main: #e1e8f0;
  --bg-btn: #8571ee;
  --bg-btn-secondary: #31338a;
  --font-family: sans-serif;
  --font-family-main: 'Quicksand', sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

img {
  width: 100%;
  height: 100%;
}

p {
  font-size: 15px;
}

.background {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.flex {
  display: flex;
  align-items: center;
}

@mixin grid($min) {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax($min, 1fr));
  gap: 10px;
}

.border {
  border-radius: 20px;
}

i {
  font-size: 30px;
}

@mixin temperature {
  .temperature {
    p {
      font-size: 25px;

      small {
        margin-left: -5px;
        margin-top: 3px;
      }
    }
  }
}

@mixin card-container {
  @extend .border;
  @include grid(200px);
  grid-template-columns: 3fr 2fr;
  border: 1px solid #d4d4d4;
  box-shadow: 5px 4px 8px #8a8a8a;

}

/**/

.hero {
  font-family: var(--font-family-main);
  padding: 20px;
  background-color: var(--bg-main);
  height: 100%;

  &-logo {
    @extend .flex;
    justify-content: flex-end;
    margin: auto;
    margin-right: 10px;
    margin-bottom: 20px;
    width: 50px;

    img {
      width: 100%;
    }
  }

  &-container {
    padding: 40px;
    margin: 20px 50px;
    background-color: #fff;
    @extend .border;

    .banner {
      margin: 10px auto;
      position: relative;
      height: 250px;
      background-color: #fff;

      &-container {
        @extend .border;
        @extend .background;
        background-image: url('../src/images/cover-bogota.png');
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        opacity: 0.3;
      }

      &-head {
        @extend .border;
        padding: 4em;
        background-color: rgba(0, 0, 0, 0.9);
        height: 100%;

        h2 {
          @extend .flex;
          color: var(--bg-btn);
          font-family: 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
          font-size: 20px;
          z-index: 2;

          i {
            color: var(--bg-btn);
            margin-right: 5px;
            font-size: 20px;
          }
        }
      }

      &-description {
        position: absolute;
        top: 30%;
        left: -40px;

        .weather,
        .temperature {
          @extend .flex;
          @include temperature();
          border-radius: 0 10px 10px 0;
          justify-content: center;
          width: 80px;
          height: 60px;
          color: #fff;

          i {
            font-size: 20px;
          }

          small {
            vertical-align: super;
            font-size: 12px;
          }
        }

        .temperature {
          background-color: var(--bg-btn-secondary);
          position: absolute;
          top: 50px;
          z-index: 1;
        }

        .weather {
          position: absolute;
          background-color: var(--bg-btn);
          @extend .flex;
          flex-direction: column;
          flex-grow: 1;
          z-index: 4;

          img {
            width: 30px;
            height: 30px;
          }
        }
      }
    }

    .main {
      @include grid(200px);
      grid-template-columns: 3fr 1fr;
      margin: 40px 0;

      @media screen and (max-width: 768px) {
        grid-template-columns: 1fr;
      }

      &-information {
        @include grid(200px);
        justify-items: center;

        @media screen and (max-width: 600px) {
          grid-template-rows: repeat(3, minmax(200px, 1fr));
        }
      }

      h2 {
        font-weight: 400;

        span {
          font-weight: 600;
        }
      }

      &-forecast,
      &-visit,
      &-reviews {
        h2 {
          margin-bottom: 30px;

          @media screen and (max-width: 900px) {
            margin-bottom: 10px;
          }
        }
      }

      &-forecast {
        &_content {
          margin: 10px;

          .card {
            @include card-container;
            margin-top: 10px;

            &-day {
              padding: 10px;
              @extend .flex;
              justify-content: space-evenly;

              img {
                width: 50px;
                height: 50px;
              }

              h6 {
                font-size: 15px;
              }
            }

            &-temperature {
              @include temperature();
              @extend .flex;
              @extend .border;
              background-color: var(--bg-btn);
              width: 95px;
              height: 80px;
              justify-self: end;
              justify-content: center;
              margin-right: -1px;
              margin-bottom: -1px;

              p {
                color: #fff;
                font-size: 15px;
              }
            }
          }
        }
      }

      &-visit {
        width: 200px;
        height: 200px;

        @media (max-width: 900px) {
          height: 70%;
        }

        &_container {
          @extend .border;
          @extend .background;
          @extend .border;
          background-image: url('../src/images/cover-visit.png');
          height: 100%;
          width: 100%;
          padding: 20px;
          margin: 10px;

          h4 {
            font-size: 15px;
            color: #fff;

            i {
              font-size: 20px;
            }
          }
        }
      }

      &-reviews {
        width: 100%;
        height: 100%;

        .header-review {
          @extend .flex;
          justify-content: space-around;

          &_avatars {
            figure {
              display: inline-block;
              width: 28px;

              img {
                border-radius: 10px;
              }

              .more {
                background-color: var(--bg-main);
                padding: 8px;
              }
            }
          }
        }
      }

      &-card {
        .card {
          &-container {
            @extend .border;
            width: 280px;
            box-shadow: 5px 4px 8px #8a8a8a;
            text-align: center;
            margin: auto;
          }

          &-head,
          &-content {
            @include grid(80px);
            align-items: center;
            justify-items: center;
            justify-self: center;

            p:not(.temp) {
              font-size: 12px;

              small {
                font-size: 10px;
              }

              .country {
                display: block;
              }
            }
          }

          &-head {
            figure {
              @extend .flex;
              @extend .border;
              justify-content: center;
              background-color: var(--bg-main);
              width: 95px;
              height: 80px;
              color: #7d67f0;

              i {
                font-size: 30px;
              }
            }

            @include temperature();
          }

          &-content {
            padding: 10px;
          }
        }
      }
    }
  }
}